.help-search-menu {

  height: 80%;
  width: 30%;
  position: absolute;
  top: 70px;
  left: 70px;
  background-color: white;
  border-radius: 10px;

}

.search-menu-content {

  width: 80%;
  margin: 10px auto;

}
